*{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #260F0F,#D98292,#F21313);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

#player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#musicaTitulo{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#playPauseBtn{
    background-image: url('./img/Reproduzir.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

/*#playBtn{
    background-image: url('./img/Reproduzir.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}*/

/*#pauseBtn{
    background-image: url('./img/Pause.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}*/

#nextBtn{
    background-image: url('./img/Next.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

#prevBtn{
    background-image: url('./img/Prev.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

#repeteBtn{
    background-image: url('./img/repetir.png');
    background-size: 10px;
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

/*#currentTime{
    display: flex;
    justify-content: center;
}*/