@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #260F0F,#D98292,#F21313);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

#player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#musicaTitulo{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 110px;
}

#playPauseBtn{
    background-image: url('./img/Reproduzir.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

/*#playBtn{
    background-image: url('./img/Reproduzir.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}*/

/*#pauseBtn{
    background-image: url('./img/Pause.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}*/

#nextBtn{
    background-image: url('./img/Next.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

#prevBtn{
    background-image: url('./img/Prev.png');
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

#repeteBtn{
    background-image: url('./img/repetir.png');
    background-size: 10px;
    background-size: 46px;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

#albumCover{
    width: 500px;
    height: 320px;
    object-fit: cover;
    margin-top: 100px;
    border-radius: 5px;
}

/*#currentTime{
    display: flex;
    justify-content: center;
}*/